/*cards*/
.cards-container {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

.cards-wrapper {
  display: flex;f
  flex-flow: row nowrap;
  gap: 20px;
  overflow: auto;
  padding: 30px 0;
  margin: 0 100px 100px 100px;
  height: 100%;
  border-right: 10px solid #4D724D;
  border-left: 10px solid #4D724D;
}

.card {
  display: flex;
  flex-shrink: 0;
  flex-flow: column nowrap;
  gap: 15px;
  background-color: #f5f5f5;
  width: 85%;
  padding: 15px;
  overflowY: auto;
}

.todo-card {
  margin: 0 15px 0 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.done-card {
  margin: 0 0 0 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card > ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
}
.card > ul > li {
  display: flex;
  align-items: center;
  height: 50px;
 
  font-size: 20px;
  }

.card > ul > li > span {
  display: flex;
  align-items: center;
  background-color: #4D724D;
  border-radius: 10px;
  padding: 0 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.gap-filler {
  background-color: #8DB48E;
}
