/*cards*/
.cards-container {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}
.cards-wrapper {
  display: flex;f
  flex-flow: row nowrap;
  gap: 20px;
  overflow: auto;
  padding: 30px 0;
  margin: 0 100px 100px 100px;
  height: 100%;
  border-right: 10px solid #4D724D;
  border-left: 10px solid #4D724D;
}
.card {
  display: flex;
  flex-shrink: 0;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 15px;
  background-color: #f5f5f5;
  width: 85%;
  padding: 15px;
  overflowY: auto;
}
.todo-card {
  margin: 0 15px 0 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.done-card {
  margin: 0 0 0 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.items-wrapper > ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
}
.items-wrapper > ul > li {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 20px;
  }
.items-wrapper > ul > li > span {
  display: flex;
  align-items: center;
  background-color: #8DB48E;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
  transition: box-shadow 150ms ease;
}
.items-wrapper > ul > li > span:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.input-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.input-wrapper > .textZone-wrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
}
.input-wrapper > .textZone-wrapper > input#todo-input {
  width: calc(100% - 20px);
  background-color: #f5f5f5;
  border: 4px solid #8DB48E;
  border-radius: 10px;
  height: 30px;
  transition: border 150ms ease;
  outline: none;
  color: #4D724D;
  padding-left: 10px;
  flex-shrink: 0;
}
.input-wrapper > .textZone-wrapper > input#submit-todo-input {
  border: none;
  width: 52.5px;
  background-color: #8DB48E;
  position: relative;
  transition: all 150ms ease;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  flex-shrink: 0;
}
.input-wrapper > .textZone-wrapper > input#submit-todo-input:hover {
  cursor: pointer;
} 
.input-wrapper-focus > .textZone-wrapper > input#todo-input {
  border: 4px solid #4D724D;
  /*border-left: 4px solid #4D724D;
  border-bottom: 4px solid #4D724D;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;*/
}
.input-wrapper-focus > .textZone-wrapper > input#submit-todo-input {
  transform: translateX(-52.5px);
  background-color: #4D724D;
}
.input-wrapper > label {
  color: #8DB48E;
  background-color: #F5F5F5;
  position: relative;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  transition: all 150ms ease;
  font-weight: 700;
}
.input-wrapper-focus > label {
  top: -2px;
  color: #4D724D;
}

.@media (max-width: 440px) {
  .cards-wrapper {
    margin: 0;
    padding: 0 ;
    border: none;
  }
  .card > ul {
    gap: 10px;
  }
  .card > ul > li {
    font-size: 15px;
  }
}


