/*header*/

header {
  display: flex;
  flex-flow: row nowrap;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #4D724D;
}
nav > a {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav > a > span {
  color: #F5F5F5;
  border-bottom: 1px solid #4D724D;
  transition: border-bottom 150ms ease;
}
.nav-icon {
  color: #F5F5F5;
  transform: scale(1.8);
  transition: transform 150ms ease;
}
nav > a:hover > .nav-icon{
  transform: scale(1.9);
  cursor: pointer;
}
nav > a:hover > span{
  cursor: pointer;
  border-bottom: 1px solid #F5F5F5;
}


